In [1]:
from pipeline.util.platform import start_spark, start_spark_local
from pipeline.util.storage import read_csv, read_parquet, write_parquet, write_repart_parquet, write_delta, write_deltatable
from pyspark.sql import functions as F
from pyspark.sql import types as T

In [2]:
spark, loggrer, conf = start_spark(app_name='addessmatch_etl_job')

local

In [3]:
df_bld = read_parquet(spark, "{storage_curated}/data/in/addressmatchres".format(storage_curated = spark.conf.get('storage.curated')))

In [5]:
df_bld_id = df_bld.withColumn("BUILDING_ID", F.monotonically_increasing_id() + F.unix_timestamp(F.current_timestamp()))

In [6]:
df_bld_id.createOrReplaceTempView("building_in")

In [42]:
loc = "'{storage_curated}/data/out/building'".format(storage_curated = spark.conf.get('storage.curated'))

#spark.sql(f"DROP TABLE IF EXISTS BUILDING")
spark.sql(f"CREATE TABLE IF NOT EXISTS BUILDING ( \
          ID INT, \
          BUILDINGADDRESS STRING, \
          BUILDING_ID BIGINT, \
          ADDRESS_ID BIGINT ) \
          USING DELTA  \
          LOCATION {loc}")

DataFrame[]

In [47]:
spark.sql(f"MERGE INTO BUILDING \
          USING ( \
            SELECT \
              b.id, \
              b.buildingaddress, \
              b.BUILDING_ID, \
              a.ADDRESS_ID \
            FROM building_in b \
            JOIN ADDRESS a ON b.UPRN = a.UPRN \
          ) AS building_in \
          ON BUILDING.ID = building_in.id \
          WHEN MATCHED THEN \
            UPDATE SET \
              BUILDINGADDRESS = building_in.buildingaddress, \
              ADDRESS_ID = building_in.ADDRESS_ID \
          WHEN NOT MATCHED THEN \
            INSERT ( \
              ID, BUILDINGADDRESS, BUILDING_ID, ADDRESS_ID \
            ) VALUES ( \
              building_in.id, building_in.buildingaddress, building_in.BUILDING_ID, building_in.ADDRESS_ID \
            )")

DataFrame[num_affected_rows: bigint, num_updated_rows: bigint, num_deleted_rows: bigint, num_inserted_rows: bigint]

In [50]:
#df_admatchres.printSchema()
#spark.sql("describe table building_in").show()
#spark.sql("select * from BUILDING order by ID").show()
#spark.sql("delete from BUILDING where ID > 10")
#spark.sql("select * from BUILDING a join ADDRESS b on a.ADDRESS_ID=b.ADDRESS_ID order by a.ID").show(truncate=False)
#spark.sql("show tables").show()
#spark.sql("drop table addressmatchres")
#spark.sql(f"describe history {loc}").show(truncate=False)
#spark.sql("select * from BUILDING version as of 5").show(truncate=False)

+---+--------------------------------------------------------------------------+-----------+-----------+------------+-------+--------+---------------------------------------------------------------+-----------+
|ID |BUILDINGADDRESS                                                           |BUILDING_ID|ADDRESS_ID |UPRN        |OUTCODE|LOCALITY|ADDRESS                                                        |ADDRESS_ID |
+---+--------------------------------------------------------------------------+-----------+-----------+------------+-------+--------+---------------------------------------------------------------+-----------+
|1  |The South Lawn Medical Practice, S Lawn Terrace, Heavitree, Exeter EX1 2RX|1710870608 |18890606528|100041046145|2RX    |null    |HEAVITREE HEALTH CENTRE SOUTH LAWN TERRACE EXETER DEVON EX1 2RX|18890606528|
|4  |FLAT 52D MORTIMER HOUSE GRENDON ROAD EX1 2NL                              |1710870609 |10300663509|100040215247|2NL    |null    |FLAT 52D MORTIMER HOUSE GRENDON ROAD EXETER DEVON EX1 2NL      |10300663509|
|5  |Unit 3 The Exebridge Centre Exeter EX4 1AH                                |1710870610 |44660403685|10013043126 |1AH    |null    |ACCESS TO THE EXEBRIDGE CENTRE EXETER DEVON EX4 1AH            |44660403685|
|6  |30, Guildhall Shopping Centre, Exeter EX4 3HJ                             |1710870611 |10300665011|10013043352 |3TT    |null    |CAR PARK FOR GUILDHALL SHOPPING CENTRE EXETER DEVON EX4 3TT    |10300665011|
|7  |Market St, Exeter EX1 1BW                                                 |1710870612 |27480538041|100041123913|1BW    |null    |MARKET STREET EXETER DEVON EX1 1BW                             |27480538041|
|9  |36 Southernhay E, Exeter EX1 1NX                                          |1710870613 |1710731536 |100041046158|1NX    |null    |36 SOUTHERNHAY EAST EXETER DEVON EX1 1NX                       |1710731536 |
|10 |6 Isleworth Rd, Exeter EX4 1QU                                            |1710870614 |36070473413|100040218983|1QU    |null    |26 ISLEWORTH ROAD EXETER DEVON EX4 1QU                         |36070473413|
|11 |ABBEVILLE CLOSE,EX2 4SJ                                                   |1710870615 |44660407982|10024662321 |4SJ    |null    |ABBEVILLE CLOSE EXETER DEVON EX2 4SJ                           |44660407982|
|13 |ALBERT STREET,EX1 2BH                                                     |1710870616 |27480540122|100040200120|2BH    |null    |1 ALBERT STREET EXETER DEVON EX1 2BH                           |27480540122|
|16 |ALFORD CRESCENT,EX1 3LW                                                   |1710870617 |1710735156 |10023116527 |3LW    |null    |ALFORD CRESCENT EXETER DEVON EX1 3LW                           |1710735156 |
|20 |ANNE CLOSE,EX4 7DL                                                        |1710870618 |36070469155|10013043057 |7DL    |null    |ANNE CLOSE EXETER DEVON EX4 7DL                                |36070469155|
|21 |ASHLEIGH CLOSE,EX4 2BU                                                    |1710870619 |27480540671|100040201286|2BU    |null    |4 ASHLEIGH CLOSE EXETER DEVON EX4 2BU                          |27480540671|
|23 |AVALON CLOSE,EX4 9EF                                                      |1710870620 |18890598064|100040201547|9EF    |null    |4 AVALON CLOSE EXETER DEVON EX4 9EF                            |18890598064|
|24 |BADON CLOSE,EX4 9EG                                                       |1710870621 |44660404843|100040201602|9EG    |null    |4 BADON CLOSE EXETER DEVON EX4 9EG                             |44660404843|
|25 |BARTHOLOMEW STREET EAST,EX4 3BH                                           |1710870622 |27480539965|10013040306 |3BH    |null    |BARTHOLOMEW STREET EAST EXETER DEVON EX4 3BH                   |27480539965|
|26 |BARTHOLOMEW ST WEST,EX4 3AL                                               |1710870623 |18890601055|100041225086|3AL    |null    |BARTHOLOMEW STREET WEST EXETER DEVON EX4 3AL                   |18890601055|
|27 |BEACON LANE,EX4 8BD                                                       |1710870624 |18890604144|100040202604|8BD    |null    |1 BEACON LANE EXETER DEVON EX4 8BD                             |18890604144|
|28 |BEAUFORT ROAD,EX2 9AB                                                     |1710870625 |10300665020|100041133472|9AB    |null    |BEAUFORT ROAD EXETER DEVON EX2 9AB                             |10300665020|
|30 |BENNETT SQUARE,EX4 8AZ                                                    |1710870626 |18890602897|100040202984|8AZ    |null    |4 BENNETT SQUARE EXETER DEVON EX4 8AZ                          |18890602897|
|31 |BINFORD CLOSE,EX1 3JZ                                                     |1710870627 |10300668794|10023116114 |3JZ    |null    |BINFORD CLOSE EXETER DEVON EX1 3JZ                             |10300668794|
+---+--------------------------------------------------------------------------+-----------+-----------+------------+-------+--------+---------------------------------------------------------------+-----------+
only showing top 20 rows