In [1]:
from pipeline.util.platform import start_spark, start_spark_local
from pipeline.util.storage import read_parquet, write_parquet, write_repart_parquet
from pyspark.ml import Pipeline
from pyspark.ml.feature import StopWordsRemover, Tokenizer, NGram, HashingTF, MinHashLSH, RegexTokenizer, SQLTransformer
from pyspark.sql import functions as F
from pyspark.sql import window as W

In [2]:
spark, loggrer, conf = start_spark(app_name='addessmatch_etl_job')

local

In [3]:
df_abmatch = read_parquet(spark, "{storage_curated}/data/in/addressbase".format(storage_curated = spark.conf.get('storage.curated')))

In [4]:
model = Pipeline(stages=[
    SQLTransformer(statement="SELECT *, lower(ADDRESS) lower FROM __THIS__"),
    Tokenizer(inputCol="lower", outputCol="token"),
    StopWordsRemover(inputCol="token", outputCol="stop"),
    SQLTransformer(statement="SELECT *, concat_ws(' ', stop) concat FROM __THIS__"),
    RegexTokenizer(pattern="", inputCol="concat", outputCol="char", minTokenLength=1),
    NGram(n=2, inputCol="char", outputCol="ngram"),
    HashingTF(inputCol="ngram", outputCol="vector"),
    MinHashLSH(inputCol="vector", outputCol="lsh", numHashTables=3)
]).fit(df_abmatch)

df_abmatchtrans = model.transform(df_abmatch)
df_abmatchtrans = df_abmatchtrans.filter(F.size(F.col("ngram")) > 0)
print(f"Example transformation ({df_abmatchtrans.count()} addresses left):")

Example transformation (51813 addresses left):

In [5]:
df_bldadr = read_parquet(spark, "{storage_curated}/data/in/buildingaddress".format(storage_curated = spark.conf.get('storage.curated')))

In [6]:
# Use pipeline previous defined
df_bldadrtrans = model.transform(df_bldadr)
df_bldadrtrans = df_bldadrtrans.filter(F.size(F.col("ngram")) > 0)
print(f"Example transformation ({df_bldadrtrans.count()} buildings left):")

Example transformation (331 buildings left):

In [7]:
df_match = model.stages[-1].approxSimilarityJoin(df_bldadrtrans, df_abmatchtrans, 0.5, "jaccardDist")
print(f"{df_match.count()} matches")

4810 matches

In [8]:
owin = W.Window.partitionBy(df_match.datasetA.id).orderBy(df_match.jaccardDist)
df_match = df_match.withColumn("oid",F.row_number().over(owin))

In [9]:
df_matchres = (df_match
    .select('datasetA.id',F.col('datasetA.address').alias("buildingaddress"),'datasetB.UPRN','jaccardDist','oid')
    .filter(F.col("oid")==1))

In [12]:
write_parquet(spark, df_matchres, "{storage_curated}/data/in/addressmatchres".format(storage_curated = spark.conf.get('storage.curated')))

In [11]:
#df_abmatch.printSchema()
#df_matchres.count()
#dft = spark.table("mytable")
#spark.sql("show tables").show()
#df_matchres.show(truncate=False)
#df_match.filter(F.col("datasetA.id")==4).sort(F.col("jaccardDist").desc()).show(n=200,truncate=False)

+---+--------------------------------------------------------------------------+------------+-------------------+---+
|id |buildingaddress                                                           |UPRN        |jaccardDist        |oid|
+---+--------------------------------------------------------------------------+------------+-------------------+---+
|1  |The South Lawn Medical Practice, S Lawn Terrace, Heavitree, Exeter EX1 2RX|100041046145|0.39344262295081966|1  |
|4  |FLAT 52D MORTIMER HOUSE GRENDON ROAD EX1 2NL                              |100040215247|0.1428571428571429 |1  |
|5  |Unit 3 The Exebridge Centre Exeter EX4 1AH                                |10013043126 |0.40476190476190477|1  |
|6  |30, Guildhall Shopping Centre, Exeter EX4 3HJ                             |10013043352 |0.375              |1  |
|7  |Market St, Exeter EX1 1BW                                                 |100041123913|0.3666666666666667 |1  |
|9  |36 Southernhay E, Exeter EX1 1NX                                          |100041046158|0.32432432432432434|1  |
|10 |6 Isleworth Rd, Exeter EX4 1QU                                            |100040218983|0.368421052631579  |1  |
|11 |ABBEVILLE CLOSE,EX2 4SJ                                                   |10024662321 |0.3939393939393939 |1  |
|13 |ALBERT STREET,EX1 2BH                                                     |100040200120|0.4193548387096774 |1  |
|16 |ALFORD CRESCENT,EX1 3LW                                                   |10023116527 |0.4285714285714286 |1  |
|20 |ANNE CLOSE,EX4 7DL                                                        |10013043057 |0.48275862068965514|1  |
|21 |ASHLEIGH CLOSE,EX4 2BU                                                    |100040201286|0.4571428571428572 |1  |
|23 |AVALON CLOSE,EX4 9EF                                                      |100040201547|0.4666666666666667 |1  |
|24 |BADON CLOSE,EX4 9EG                                                       |100040201602|0.4666666666666667 |1  |
|25 |BARTHOLOMEW STREET EAST,EX4 3BH                                           |10013040306 |0.3076923076923077 |1  |
|26 |BARTHOLOMEW ST WEST,EX4 3AL                                               |100041225086|0.42500000000000004|1  |
|27 |BEACON LANE,EX4 8BD                                                       |100040202604|0.4838709677419355 |1  |
|28 |BEAUFORT ROAD,EX2 9AB                                                     |100041133472|0.4545454545454546 |1  |
|30 |BENNETT SQUARE,EX4 8AZ                                                    |100040202984|0.4411764705882353 |1  |
|31 |BINFORD CLOSE,EX1 3JZ                                                     |10023116114 |0.4545454545454546 |1  |
+---+--------------------------------------------------------------------------+------------+-------------------+---+
only showing top 20 rows

In [10]:
# sqlTrans = SQLTransformer(statement="SELECT *, lower(ADDRESS) lower FROM __THIS__")
# df1 = sqlTrans.transform(df_abmatch)
# tokenizer = Tokenizer(inputCol="lower", outputCol="token")
# df2 = tokenizer.transform(df1)
# remover = StopWordsRemover(inputCol="token", outputCol="stop")
# df3 = remover.transform(df2)
# sqlTrans = SQLTransformer(statement="SELECT *, concat_ws(' ', stop) concat FROM __THIS__")
# df4 = sqlTrans.transform(df3)
# rtokenizer = RegexTokenizer(pattern="", inputCol="concat", outputCol="char", minTokenLength=1)
# df5 = rtokenizer.transform(df4)
# ngram = NGram(n=2, inputCol="char", outputCol="ngram")
# df6 = ngram.transform(df5)
# hashtf = HashingTF(inputCol="ngram", outputCol="vector")
# df7 = hashtf.transform(df6)
# minhash = MinHashLSH(inputCol="vector", outputCol="lsh", numHashTables=3)
# model = minhash.fit(df7)
# model.setInputCol("vector")